.Rhistory
.Rproj.user/
.RData
data/iedb_200K_EL_epitopes.csv
data/pos_EL_all_epitopes_hla0201.csv
data/pos_EL_cancer_epitopes_hla0201.csv
data/pos_EL_healthy_epitopes_hla0201.csv
data/fasta_*/
data/fasta_batches*/
data/pos_EL_*
# Fasta files
*.fasta
data/raw/fasta/

# NetMHCpan output
data/processed/netmhcpan/

# R
.Rhistory
.RData
.Rproj.user/

# Large data files
data/raw/iedb_200K_EL_epitopes.csv
data/processed/pos_EL_all_epitopes_hla0201.csv
data/processed/pos_EL_healthy_epitopes_hla0201.csv
data/processed/pos_EL_cancer_epitopes_hla0201.csv
data/processed/pos_EL_8-to-14mers_epitopes_hla0201.csv
data/raw/iedb_200K_EL_epitopes.csv
data/processed/pos_EL_all_epitopes_hla0201.csv
data/processed/pos_EL_healthy_epitopes_hla0201.csv
data/processed/pos_EL_cancer_epitopes_hla0201.csv
data/processed/pos_EL_8-to-14mers_epitopes_hla0201.csv
data/processed/netmhcpan/
