.Rhistory
.Rproj.user/
.RData
data/iedb_200K_EL_epitopes.csv
data/pos_EL_all_epitopes_hla0201.csv
data/pos_EL_cancer_epitopes_hla0201.csv
data/pos_EL_healthy_epitopes_hla0201.csv
data/fasta_*/
data/fasta_batches*/
